:root{
    --font-size: 62.5%;
    --headernav-backgroundcolor: #fff;
    --headernav-ul-boxshodow: 0px 0.3rem 1rem -0.8rem;
    --headernav-ul-fontsize: 1.4rem;
}
html{
    font-size: var(--font-size);
}
body{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

.header-nav{
    position: fixed;
    width:100%;
    top:0;
    background: var(--headernav-backgroundcolor);
}
.header-nav ul{
     display: flex;
     flex-direction: row;
     justify-content: center;
     padding-left:0;
     margin: 0;
     font-size: var(--headernav-ul-fontsize);
     box-shadow: var(--headernav-ul-boxshodow);
 }
.header-nav ul li{
     text-align: center;
     flex-grow: 1;
     list-style-type: none;
     flex-basis: 0;
}
.header-nav ul li a{
    color: #000;
    text-decoration: none;
    display: block;
    padding: 1rem;
}
.nav-active{
    color: #2f78ec !important;
    border-bottom: 0.3rem solid #2f78ec;
}
.content{
    padding-top:4.2rem;
}
#trigger-point{
    width: 100%;
    padding-top: 4.2rem;
    margin-top: -4.2rem;
}
#mixin-safety{
    width: 100%;
    padding-top: 4.2rem;
    margin-top: -4.2rem;
}
#about-af{
    width: 100%;
    padding-top: 4.2rem;
    margin-top: -4.2rem;
}
.box{
    height:100%;
    width:100%;
}
.img-box{
    border-top:6px solid #f0f0f0;
    padding: 2rem 2rem 1.5rem 2rem;
}
.img-box h2{
    margin:0;
    font-size:1.8rem;
}
.img-box img{
    width:100%;
}
.img-margin-top{
    margin-top:3rem;
}
.sub-img-box{
    margin:2rem 0;
}
.sub-img-box h3{
    margin:0;
}
.sub-img-box h3 img{
    width: 2.5rem;
    display: inline-block;
    vertical-align: middle;
}
.sub-img-box h3 span{
    margin-left: 0.7rem;
    display: inline-block;
    vertical-align: middle;
    font-size:1.5rem;
    font-weight:normal;
    color: #363636;
}
.sub-img-box h3:before{
    content:'';
    height:100%;
    width: 1px;
    display: inline-block;
    vertical-align: middle;

}
.sub-img-box ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding:0;
}
.sub-img-box ul li{
    flex-grow: 1;
    text-align: center;
    list-style-type: none;
    flex-basis: 0;
}
.sub-img-box ul li img{
    width:6rem;
}
.sub-name{
    font-size:1.4rem;
    margin-bottom: 0;
    color: #363636;
}
.sub-describe{
    font-size:1.3rem;
    margin-top:0.4rem;
    color: #717171;
}
.mixin-safety-banner{
    width:100%;
}
.pro-btn-list{
    border: 1px solid #8dc4ff;
    border-radius: 4px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.img-pro-btn{
    padding:0.4rem 1rem ;
    font-size: 1.2rem;
    color: #479efa;
    /*background: linear-gradient(to bottom,#fff, #fbfbfb);*/
    background: #f0f7ff;
}
.img-pro-btn:nth-child(2),.img-pro-btn:nth-child(3){
    border-left: 1px solid #8dc4ff;
}
.img-banner{
    border-top: 0.6rem solid #f0f0f0;
}
.img-banner~.img-box{
    margin-top:-2px;
}
.sub-detail-link {
    overflow: hidden;
    margin: 1.5rem 0;
    vertical-align: middle;
    display: flex;
    align-items: center;
    padding:1.5rem 0 1.5rem 1.5rem;
    border:1px solid #e6e6e6;
    border-radius:0.5rem;
}
.sub-detail-link-describe{
    margin-left: 1rem;
    flex-grow: 1;
    text-decoration: none;
}
.sub-detail-link-describe .sub-name{
    font-size: 1.6rem;
    margin-top: 0;
}
.sub-detail-link-describe .sub-describe{
    font-size: 1.3rem;
    color: #9f9f9f;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
}

.sub-detail-link-img{
    width: 6rem;
}
.sub-detail-link-arrow{
}
.sub-detail-link-arrow img{
    width: 3rem;
}
.gary-point{
    display: inline-block;
    height: 0.6rem;
    width: 0.6rem;
    background: #ccc;
    border-radius: 50%;
    margin-right: 0.5rem;
    margin-bottom: 3px;
    position: absolute;
    left:0;
    top:43%;
}
.high-development{
    display: flex;
}
.high-development ul{
    flex-grow: 1;
    padding-left: 0;
    margin-left: 2rem;
}
.high-development ul li{
    font-size: 1.6rem;
    padding: 1rem 0;
    color: #363636;
    position: relative;
}
.high-development img{
    width: 10rem;
    height: 14rem;
}
.advantage{
    margin: 0 0 0 -0.7rem;
    font-size:1.4rem;
}
#about-af .img-box:first-child{
    padding-bottom: 6rem;
}
.img-border{
    border: 1px solid #e6e6e6;
    border-radius: 0.4rem;
}
.sub-img-box h3 span.sub-title{
    color: #9f9f9f;
    font-size: 1.4rem;
}
.img-padding{
    padding-top: 0.8rem;
}
.risk-evaluation .img-margin-top{
    margin-top:1rem;
}
.risk-evaluation-title,.strategy-title{
    padding:1.5rem;
}
.risk-evaluation-title h2,.strategy-title h2{
    text-align: center;
}
.btn-click-pro-img-box{
    width:100%;
    display: block;
    visibility: hidden;
    position: absolute;
    left:-9999px;
}
.btn-click-pro-img-box img{
    width:100%;
}
.strategy .img-box{
    padding-top:1rem;
}
.strategy .sub-img-box{
    margin-top:0;
}
.strategy .sub-img-box img{
    margin-top:0;
}
.strategy .sub-img-box > h3{
    font-size:1.5rem;
    font-weight:normal;
}
.title-icon{
    float: left;
    margin-right: 0.7rem;
}
.title-icon img{
    width:2.5rem;
}
.h3-right{
    float: right;
}
.text-overflow{
    font-size:1.6rem;
    margin-bottom:0;

}
.text-overflow .sub-title{
    color: #9f9f9f;
    font-size: 1.4rem;
    margin-left:0.7rem;
}
.footer{
    text-align: center;
    margin: 0;
    padding: 1rem;
    font-size: 1.2rem;
    color: #ccc;
    background: #666;
}
.footer-c{
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 9px;
    line-height: 10px;
    padding: 0px 2px 2px 1px;
}
.sub-img-box-title img{

}
/*将放大图片的背景变成白色*/
.pswp__img{
    background: #fff;
}
